$main__padding: 1rem;
$main__background-color: $black;

.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: $main__padding;
  background-color: $main__background-color;
  min-width: 100vw;
  min-height: 100vh;
}
