$card__border-radius: 5rem;

.card {
  position: relative;
  width: 80vw;
  height: 350px;
  padding: 5rem;
  background-color: $grey;
  &--center {
    align-self: center;
    position: static;
    border-radius: $card__border-radius;
  }

  &--right {
    align-self: flex-end;
    right: calc(-1 * $main__padding);
    border-radius: $card__border-radius 0 0 $card__border-radius;
  }

  &--left {
    align-self: flex-start;
    left: calc(-1 * $main__padding);
    border-radius: 0 $card__border-radius $card__border-radius 0;
  }
}
